<ng-progress></ng-progress>
<div class="row">
    <div class="col col-6 left-style">
    <div>
    <div class="jumbotron">
        <h3>{{user.name}} </h3> 
        <p>Username: ({{user.login}})</p>
    </div>
    <div>
        <div align="center">
        <img src="{{user.avatar_url}}" class="img-fluid img-thumbnail rounded" alt="Profile picture">
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">Bio: {{user.bio}} </li>
            <li class="list-group-item">Location: {{user.location}} </li>
            <li class="list-group-item">My Github: <a href="{{user.html_url}}" target="_blank">{{user.html_url}}</a></li>
        </ul>
    </div>
    </div>
    <p>
        <span class="badge badge-pill badge-secondary">Public repositories: {{user.public_repos}}</span>
        <span class="badge badge-pill badge-secondary">Followers: {{user.followers}}</span>
        <span class="badge badge-pill badge-secondary">Following: {{user.following}}</span>
    </p>
 </div>
 <div  class="col col-6 back">
     <form class="searchstyle">
         <div  class="form-group">
            <input [(ngModel)]= "userName" name='userName' type="text" class="form-control" placeholder="Type in username">
         </div>
         <button type="submit" class="btn btn-success btn-lg" (click)="searchProfile()">Get started</button>
     </form>
     <hr class="hrstyle">
  <div *ngFor="let dispRepo of repos">    
      <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><h5>{{dispRepo.name}}</h5></li>
      </ul>
      <blockquote class="text-lg">
        <p>{{dispRepo.description}}</p>
        <footer><cite><a href=" {{dispRepo.html_url}}" target="_blank">{{dispRepo.html_url}}</a></cite></footer>
    </blockquote>
    <hr class="hrstyle">
  </div>
</div>
</div>
