<ng-progress></ng-progress>
<div class="row">
    <div class="col col-6 left-style">
    <div>
    <div class="jumbotron">
        <h3> {{user.name}} </h3> 
        <p>Username: ({{user.login}})</p>
    </div>
    <div>
        <div align="center">
        <img src="{{user.avatar_url}}" class="img-fluid img-thumbnail rounded" alt="Profile picture">
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">Bio: {{user.bio}} </li>
            <li class="list-group-item">Location: {{user.location}} </li>
            <li class="list-group-item">My Github: <a href="{{user.html_url}}" target="_blank">{{user.html_url}}</a></li>
        </ul>
    </div>
    </div>
    <p>
        <span class="label label-default">{{user.followers}}</span>
    </p>
 </div>
 <div class="col col-6">
     <form (ngSubmit)="searchProfile()" #searchForm='ngForm'>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Type in username">
         </div>
         <button type="submit" class="btn btn-success btn-lg">Get started</button>
     </form>
     <hr class="hrstyle">
  <div *ngFor="let dispRepo of repos">    
      <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><h5>{{dispRepo.name}}</h5></li>
      </ul>
      <blockquote class="text-lg">
        <p>{{dispRepo.description}}</p>
        <footer><cite><a href=" {{dispRepo.html_url}}" target="_blank">{{dispRepo.html_url}}</a></cite></footer>
    </blockquote>
    <hr class="hrstyle">
  </div>
</div>
</div>

<p>Somehow displays but still has an error: {{user.login}}</p>

<p>Number of public repositories: {{user.public_repos}} </p>
<p>Followers: {{user.followers}} </p>
<P>Following: {{user.following}} </P>
<div >
    <ul>
        <li>{{repos.name}} </li>
    </ul>
</div>